<form [formGroup]="formGroup" class="p-3">
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="userName">
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Theme</mat-label>
    <mat-select formControlName="theme">
      @for (entry of themeEntries; track entry) {
      <mat-option [value]="entry[0]">
        {{entry[1]}}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <mat-select formControlName="color">
      <mat-select-trigger>
        <span class="color-box"
          [style.background-color]="formGroup.controls.color.value"></span>{{getColorName(formGroup.controls.color.value)}}
      </mat-select-trigger>
      @for (entry of colorEntries; track entry) {
      <mat-option [value]="entry[0]">
        <span class="color-box" [style.background-color]="entry[0]"></span>{{entry[1]}}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-raised-button color="primary" (click)="saveClick()" [disabled]="formGroup.invalid">Save</button>
  <button class="cancel-button" mat-raised-button color="warn" (click)="cancelClick()">Cancel</button>
</form>