<ng-container class="left" [formGroup]="formGroup">
  <ngx-monaco-editor formControlName="code" [options]="editorOptions" (init)="editorInit($event)"></ngx-monaco-editor>
</ng-container>
<form [formGroup]="formGroup" class="editor-form right">
  <mat-form-field appearance="fill">
    <mat-label>User Name</mat-label>
    <input matInput formControlName="userName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Key</mat-label>
    <input matInput formControlName="key">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select formControlName="language">
      @for (entry of languageEntries; track entry) {
      <mat-option [value]="entry[0]">
        {{entry[1]}}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Theme</mat-label>
    <mat-select formControlName="theme">
      @for (entry of themeEntries; track entry) {
      <mat-option [value]="entry[0]">
        {{entry[1]}}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  @for (user of users; let i = $index; track user) {
  <div class="user-div" [matTooltip]="user.name" [style.backgroundColor]="colors[i]">{{user.name}}</div>
  }
</form>